:root {
  --background: #fffff7;
  --text: gray;
  --headers: dodgerblue;
  --name-header: rgb(34, 30, 30);
  --copyright-bg: #cccc;
  --copyright-text: black;
  --moon: gray;
  --sidebar-bg: white;
}

.dark {
  --background: black;
  --text: #fffff7;
  --headers: dodgerblue;
  --name-header: white;
  --copyright-bg: #252424;
  --copyright-text: #ccc;
  --moon: limegreen;
  --sidebar-bg: rgb(49, 49, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

/* Go to top button css */

.top-btn {
  display: none;
  width: 40px;
  height: 40px;
  background-color: red;
  position: fixed;
  bottom: 50px;
  right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

#myBtn {
  z-index: 2;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background-color: transparent;
  transition: 0.4s;
}

.overlay {
  z-index: 5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dodgerblue;
}

/* My Photo modal  */

.modal {
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1px gainsboro;
  width: 350px;
  margin: auto;
  position: fixed;
  overflow-x: visible !important;
  z-index: 10;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  display: none;
  flex-direction: column;
  transition: 0.4s;
}

.img-modal > img {
  width: 200px;
  display: block;
  margin: auto;
  backdrop-filter: drop;
  border-radius: 50%;
}

.close-img > p {
  display: block;
  float: right;
  font-size: 25px;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.close-img > p:hover {
  color: red;
  transform: rotate(360deg);
}

#my-img {
  cursor: pointer;
}

/* Styling up the whole body */

.header-1 {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--background);
  box-shadow: 0 0 8px 0px gainsboro;
  margin-bottom: 10px;
}

.header-1 > div {
  margin-left: 20px;
}

.header-1 > nav {
  margin-right: 20px;
}

.shape img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 17px;
  color: var(--text);
  display: inline-block;
  position: relative;
}

nav > ul > li > a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: dodgerblue;
  transform-origin: center;
  transition: 0.4s;
}

nav > ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

#dark,
#dark-2 {
  cursor: pointer;
  color: var(--moon);
  font-size: 20px;
}

/* HEADER 2  */

.header-2 {
  position: sticky;
  top: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--background);
  box-shadow: 0 0 8px 0px gainsboro;
  margin-bottom: 10px;
}

.shape-header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.shape-header2 ul > li {
  list-style-type: none;
  list-style-position: inside;
}

.shape-header2 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.shape-header2 a {
  font-size: 50px;
}

.sidebar-open button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 20px;
  cursor: pointer;
}

/* SIDE BAR PANEL */

.sidebar {
  background: var(--sidebar-bg);
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(0.45, 0.45, 0.45, 0.45);
  position: fixed;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: 0.4s;
}

.close-sidebar {
  padding: 10px;
  margin: 30px 10px;
}

.close-sidebar a {
  float: right;
  font-size: 20px;
  color: var(--text);
}

.sidebar-links {
  margin: 0 10px;
  padding: 10px;
}

.sidebar-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sidebar-links ul > li {
  list-style-type: none;
  list-style-position: inside;
}

.sidebar-links ul > li > a {
  color: var(--text);
  text-decoration: none;
  transition: 0.4s;
  display: inline-block;
  position: relative;
}

.sidebar-links ul > li > a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: dodgerblue;
  transform-origin: center;
  transition: 0.4s;
}

.sidebar-links ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* Home Section */

.Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.Home > div {
  max-width: 700px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px gainsboro;
}

.Home > div > h1 {
  font-size: 40px;
  margin: 10px 0;
  letter-spacing: 2px;
  text-align: center;
  color: var(--name-header);
}

.Home > div > p {
  text-align: center;
  font-size: 15px;
  color: var(--text);
}

.social {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  gap: 20px;
}

.social > a {
  font-size: 20px;
  color: var(--text);
}

.resume {
  max-width: 200px;
  margin: auto;
}

.resume a {
  text-decoration: none;
  display: block;
  text-align: center;
  border: 2px solid dodgerblue;
  background-color: transparent;
  padding: 12px;
  color: dodgerblue;
  transition: 0.4s;
}

.resume a:hover {
  color: white;
  background-color: dodgerblue;
}

/* About me Section */

.about-me {
  height: 100%;
  padding: 6rem 1rem;
}

.about {
  padding: 10px;
  max-width: 700px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px gainsboro;
}

.about-head {
  margin: 10px 0 20px 0;
  color: var(--headers);
}

.about h3 {
  margin: 12px 0;
  color: var(--headers);
}

.about h4 {
  margin-top: 12px;
}

.about p,
h4 {
  color: var(--text);
}

.introduction,
.education,
.skills,
.training-details,
.tools {
  padding: 20px;
}

.skills ul > li,
.tools ul > li {
  list-style-position: inside;
  display: inline-block;
  padding: 5px;
  color: var(--text);
}

.about-hr {
  border: none;
  height: 1px;
  background-color: var(--text);
  margin-bottom: 10px;
}

/* PROJECTS SECTION */

.projects {
  padding: 6rem 1rem;
  height: 100%;
}

.project {
  padding: 10px 30px;
  max-width: 700px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px gainsboro;
}

.project-head {
  margin: 10px 0 20px 0;
  color: var(--headers);
}

.project-tabs {
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 0 1px gainsboro;
}

.project-tabs .used {
  margin-top: 10px;
}

.project-tabs > h4 {
  color: var(--headers);
}

.project-hr {
  border: none;
  height: 1px;
  background-color: var(--text);
  margin: 10px 0;
}

.project-tabs ul > li {
  list-style-type: none;
  padding: 10px;
  color: var(--text);
}

#proj > li {
  display: inline-block;
  padding: 10px;
}

.project-tabs a {
  display: block;
  width: 80px;
  margin: 10px 0;
  margin-left: 10px;
  text-decoration: none;
  text-align: center;
  border: 2px solid dodgerblue;
  padding: 10px;
  color: dodgerblue;
  background: transparent;
  transition: 0.4s;
}

.project-tabs a:hover {
  background-color: dodgerblue;
  color: white;
}

/* CONTACT ME SECTIOn */

.contact-me {
  padding: 5rem 1rem;
  height: 100%;
}

.contact {
  padding: 30px;
  max-width: 700px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 0 1px gainsboro;
}

.contact-head {
  margin: 10px 0 20px 0;
  color: var(--headers);
}

.contact-form {
  padding: 20px;
  border-radius: 5px;
}

.contact-form > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form > form > input,
.contact-form > form > textarea {
  padding: 12px;
  font-size: 17px;
  color: var(--text);
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px dodgerblue;
  border-radius: 5px;
  background-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: var(--text);
}

.contact-form > form > input:hover,
.contact-form > form > textarea:hover {
  box-shadow: 0 0 5px 1px dodgerblue;
}

.contact-form > form > input:focus,
.contact-form > form > textarea:focus {
  box-shadow: 0 0 0 2px dodgerblue;
}

.contact-form > form > button {
  padding: 12px;
  font-size: 17px;
  color: white;
  outline: none;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form > form > button:hover {
  background-color: #3de397;
  border-color: #3de397;
}

.contact-form > form > textarea {
  resize: none;
}

/* COPYRIGHT SECTION */
.copyright {
  background-color: var(--copyright-bg);
  position: sticky;
  bottom: 0;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.copyright p {
  font-size: 13px;
  text-align: center;
  color: var(--copyright-text);
}

@media screen and (max-width: 700px) {
  .header-1 {
    display: none;
  }

  .header-2 {
    display: flex;
  }
}
